@page "/"

<PageTitle>Index</PageTitle>

<div style="background-color:black;color:wheat!important; position:absolute; margin:auto;">

    <h1>Hello!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />

    <div style="display:flex; align-content:center">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/LzgfHQuYsXw"
                title="Autostrada/Highway A2 Poznań-Warszawa (Z nowymi znakami)"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</div>
