@inherits LayoutComponentBase

<div class="page" style="background:black!important;">
    <div class="sidebar" style="background:black!important;">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>
